/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FF6B6B; /* Updated background color */
  color: #fff;
  font-family: 'Arial', sans-serif; /* Updated font style */
}

.brand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase; /* Uppercase text */
}

.nav-options {
  display: flex;
  gap: 20px;
}

.nav-options a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s; /* Smooth color transition */
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.signup,
.signin {
  padding: 6px 12px;
  border: none;
  background-color: #FFAA71; /* Updated background color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px; /* Slight border-radius */
}

.signup:hover,
.signin:hover {
  background-color: #FF845E; /* Hover background color */
}

/* Button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 8px;
  height: 40px;
  width: 151px;
  border: none;
  background: #FFA726;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Verdana', sans-serif; /* Updated font style */
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #fff;
  font-family: 'Verdana', sans-serif; /* Updated font style */
  letter-spacing: 1px;
}

.button:hover {
  background: #FF883B; /* Hover background color */
}

.svg-icon {
  color: white;
}

.button:hover .svg-icon {
  animation: slope 1s linear infinite;
}

@keyframes slope {
  0% {
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
  }
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
}

/* Custom Menu Bar */
::ng-deep .custom-menubar {
  background-color: #F6F1F1; /* Updated background color */
  border: none;
  color: #333; /* Updated text color */
  margin-right: 20px;
  font-weight: 400;
}

::ng-deep .custom-menubar > span {
  color: #333; /* Updated text color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .nav-options {
    margin-top: 20px;
  }

  .auth-buttons {
    margin-top: 20px;
  }
}
